{%extends 'account/layout.html' %}
{%block content%}
<form method="post">
    {% csrf_token %}
    <div class="container">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Post</legend>
            <h3>Are you sure you want to delete "{{ object.title }}"?</h3>
            <div class="form-group">
                <button class="btn btn-danger btn-sm mt-2 mb-2" type="submit">Yes Delete</button>
                <a class="btn btn-outline-secondary " href="{% url 'postdetails' object.id %}">Cancel</a>
            </div>

        </fieldset>
    </div>


</form>
{%endblock%}